<%= form_for("chat",
              url: "/channels",
              remote: true,
              html: { id: "chat-form" }) do |f| %>

  <div class="field">
    <%= f.text_field :contact, placeholder: "Enter chat contact..." %>
  </div>
  <%= f.submit "Connect", class: "btn btn-xs btn-primary" %>
<% end %>
