<script type="application/javascript" id="faye-infrastructure-cxn">
  $(function () {
    var baseChannel = "/<%= current_user.channels.first.name %>";
    var chatChannel = undefined;

    var fayeUrl = "<%= Rails.application.config.faye_url %>"
    var fayeClient = new Faye.Client(fayeUrl);

    var append = function (message) {
      var newMessage = $("<li>" + message + "</li>");
      $("ul.messages").append(newMessage);
    }

    var subscribe = function (response) {
      if (chatChannel) fayeClient.unsubscribe(chatChannel);
      var cuid = response.cuid;
      var contactId = response.contactId;
      var contactBaseChannel = "/infrastructure-" + contactId;
      chatChannel = "/cxn-" + cuid + "-" + contactId
      fayeClient.subscribe(chatChannel, append);
      fayeClient.publish(contactBaseChannel, chatChannel);
    };

    fayeClient.subscribe(baseChannel, function (channelName) {
      alert("New Connection");
      chatChannel = channelName;
      fayeClient.subscribe(channelName, append);
    });

    var handleInput1 = function (event) {
      event.preventDefault();
      $.ajax({
        url: "/channels",
        type: "POST",
        dataType: "json",
        data: $(this).serialize(),
        success: subscribe
      });
      $("#chat-msg").focus();
      return false;
    };

    $("#chat-form").submit(handleInput1);

    $("#chat_contact").focus(function () {
      $("#chat-form")[0].reset();
    });

    var handleInput2 = function (event) {
      event.preventDefault();
      var msg = $("#chat-msg").val();
      $("#message-form")[0].reset();
      fayeClient.publish(chatChannel, msg);
      return false;
    };

    $("#message-form").submit(handleInput2);
  });
</script>
