<script type="application/javascript" id="faye-infrastructure-cxn">
  $(function () {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    var baseChannel = "/<%= current_user.channels.first.name %>";
    var chatChannel = undefined;

    var fayeUrl = "<%= Rails.application.config.faye_url %>"
    var fayeClient = new Faye.Client(fayeUrl);

    var append = function (message) {
      var newMsg = $("<li>" + message.text + "</li>");
      $("ul.messages").append(newMsg);
      //$("#message-form")[0].reset();
    };

    var subscribe = function (channelName) {
      chatChannel = channelName;
      fayeClient.subscribe(chatChannel, append);
    };

//    var subConfig = {
//        url: "/channels",
//        type: "POST",
//        contentType: "json"
//        success: subscribe
//    };

    // Event Handlers

    var handleInput1 = function (event) {
      event.preventDefault();
      if (chatChannel) {
        fayeClient.unsubscribe(chatChannel);
      }
      //$.ajax(subConfig);
      chatChannel = $("#chat_contact").val();
      fayeClient.subscribe(chatChannel, append);
      return false;
    };

    var handleInput2 = function (event) {
      event.preventDefault();
      var msg = $("#chat-msg").val();
      var msgObject = { text: msg };
      fayeClient.publish(chatChannel, msgObject);
    };

    // Initial Action
    fayeClient.subscribe(baseChannel);

    // Event Bindings

    $("#chat-form").submit(handleInput1);

    $("#message-form").submit(handleInput2);
  });
</script>
