<script type="application/javascript" id="faye-infrastructure-cxn">
  $(function () {
    var channel = "/<%= current_user.channels.first.name %>";
    Faye.Transport.WebSocket.isUsable = function($,_,c) { c(false) };
    var faye = new Faye.Client("<%= Rails.application.config.faye_url %>");

    var chatChannel = "";

    var append = function (msg) {
      var new_msg = $("<li>" + msg + "</li>");
      $("ul.messages").append(new_msg);
      $("#message-form")[0].reset();
    }

    var subscribe = function (data) {
      faye.subscribe(data, function (msg) {
        append(msg["text"]);
      });
    };

    faye.subscribe(channel, function (data) {
      chatChannel = data;
      subscribe(data);
    });

    $("#message-form").submit(function (event) {
      event.preventDefault();

      var msg = $("#chat-msg").val();
      var msgObject = { text: msg };
      faye.publish(chatChannel, msgObject);
    });

  });
</script>
