<%= form_for("chat", url: "", html: { id: "message-form" }) do |f| %>
  <div class="field">
    <%= f.text_field :message, placeholder: "Enter message...", id: "chat-msg" %>
  </div>
  <%= f.submit "Send", class: "btn btn-xs btn-primary", id: "chat-btn" %>
<% end %>
